body{
	font-size:small;
	font-family:Verdana,Helvetica,Arial,sans-serif;
	line-height:1.6em;
}

h1,h2{
	color:#007e7e;
}

h1{
	font-size:150%;
}

h2{
	font-size:120%;
}

#guarantee{
	border-color:white;
	border-width:1px;
	border-style:dashed;
	
	background-color:#a7cece;
	background-image:url(images/background.gif);
	background-repeat:no-repeat;
	background-position:top left;
	
	padding:25px;
	padding-left:80px;
	/*现设置内边距25px，然后重设左内边距80px，重复了。最终的左内边距=80-25=55px*/
	margin:30px;
	margin-right:250px;
	
	font-family:serif;
	font-style:oblique;
	color:#444444;
	line-height:1.9em;
}